body{
    padding: 0;
    height: 100vh;
    width: 100vh;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom right,#004581,#01BABD,#97CBDC 80%,#DDE8F0);
}
.h1{
    
}